.bg{
    background-color:rgb(69, 2, 56);
}
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.nav-back{
    background-color: transparent;
}
.nav-link:hover {
    /* border-radius: 30%; */
    background-color: yellow; /* Light background color on hover */
    color: #007bff; /* Change text color on hover */
    transition: all 0.3s ease-in-out; /* Smooth transition effect */
  }
.nv{
    color: beige;
}
.nav-link.active{
    /* border-radius: 30%; */
    background-color: yellow;
}


.footer {
    background-color: black;
    padding: 20px 0;
}

.footer .social-icons {
    display: flex;
    justify-content: center; /* Center the icons */
}

.footer .social-icons a {
    color: yellowgreen;
    margin: 0 10px;
    font-size: 1.5rem;
    text-decoration: none; /* Remove underline from icons */
}

.footer .social-icons a:hover {
    color: #007bff;
}
